

/*首页*/
#nv_member { background:#ebedf0 url(../images/bg_home.png) repeat; }
.homebg { background: url(../images/bg_home1.png) repeat-x scroll 0 0 transparent; }
.homebg2 { background: url(../images/bg_home2.jpg) no-repeat scroll center 0 transparent; }
#nv_member #hd .wp { width: 960px; margin: 0 auto;}
#nv_member .wp { width: 100%}
#nv_member #ft {
    margin: 0 auto;
    width: 1210px;
	border:0;
}
.propaganda {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 960px;
	height: 175px;
}
.btn_download {
    background: url("../images/download.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 54px;
    margin-left: -5px;
    text-indent: -9999px;
    width: 234px;
}
.btn_download:hover{ background:url("../images/download_01.png") no-repeat ; }
.btn_download:active{ background:url("../images/download_02.png") no-repeat ; }
#mediaplayer_wrapper{position: relative;
    width: 960px;}
#mediaplayer {
    color: #FFFFFF;
    height: 275px;
    position: absolute;
    right: 188px;
    top: -303px;
    width: 188px;}
.ewm {
    left: 30px;
    position: absolute;
    top: 20px;
}
.font_ewm {
    color: #636B89;
    font-size: 16px;
    left: 172px;
    line-height: 29px;
    position: absolute;
    /*text-shadow: 0 1px 0 white;*/
    top: 30px;
}
.font_gn {
    color: #636B89;
    font-size: 16px;
    left: 510px;
    line-height: 29px;
    position: absolute;
   /* text-shadow: 0 1px 0 white;*/
    top: 30px;
	width: 420px;
}
.green{ color:#090;background-color: transparent; border:0;}



.wrap {width: 960px;margin: 0 auto;}
.sl { position: absolute;left:0;top:0; margin: 0; color: white;height: 555px;width:100%;
}
.sl_iphone_1{background:url('../images/banner-1.jpg') top center repeat-x}
.sl_iphone_2{background:url('../images/banner-2.jpg') top center repeat-x}
.sl_iphone_2 .sl_con {margin:191px 0 0 475px;}
.sl_iphone_2 .smallfont { font-size:14px;line-height: 25px;margin-top: 30px;}
.sl_iphone_2_down {background: url('../images/sl_iphone_2_down1.png'); display: block; height: 31px; width: 100px; position: absolute;text-indent: -9999px; top:335px; left: 184px;}
.sl_iphone_2_down:hover {background: url('../images/sl_iphone_2_down2.png');}
.sl_iphone_2_down:visited {background: url('../images/sl_iphone_2_down3.png');}
.sl_iphone_3{background:url('../images/banner-3.jpg') top center repeat-x}
.sl_iphone_4{background:url('../images/banner-4.jpg') top center repeat-x}
.sl_iphone_4 .sl_con {margin:216px 0 0 30px;}
.sl_iphone_4 .sl_con ul { width:440px}
.sl_iphone_5{background:url('../images/banner-5.jpg') top center repeat-x}
.sl_iphone_5 .sl_con {margin:265px 0 0 555px;}
.sl_iphone_5 .sl_con ul { width:350px}
.sl_iphone_6{background:url('../images/banner-6.jpg') top center repeat-x}
.sl_iphone_6 .sl_con {margin:193px 0 0 31px;}
.sl_iphone_6 .sl_con ul { width:350px}
.sl_iphone_6 .btn_ljxq {
    background: url("../images/banner-ljxq.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 54px;
    text-indent: -9999px;
    width: 147px;
}
.sl_iphone_6 .btn_ljxq:hover {
    background: url("../images/banner-ljxq2.png") no-repeat scroll 0 0 transparent;
}
.sl_iphone_6 .btn_ljxq:active {
    background: url("../images/banner-ljxq.png") no-repeat scroll 0 0 transparent;
}
.sl_iphone_7{background:url('../images/banner-7.jpg') top center repeat-x}

.sl_iphone_7 .wrap {
    height: 555px;
    margin: 0 auto;
    width: 960px;
	display:block;
}
.sl_iphone_8{background:url('../images/banner-8.jpg') top center repeat-x}
.sl_iphone_9{background:url('../images/banner-9.jpg') top center repeat-x}



.sl_wrap{position: relative;left:0;top:0px;width:100%;height:555px;overflow:hidden;}
.sl_wrap .wrap {width: 960px;margin: 0 auto;}
.sl_wrap .btn {margin-top: 20px;}
.sl_wrap_in{position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;}
.sl_con ul {font-size: 18px;margin-top: 20px;}
.sl_con ul li {margin-top:12px;line-height: 31px;text-shadow:0 1px 2px rgba(51, 51, 51, 0.5);}
.sl_con {margin:183px 0 0 35px;font-family: 微软雅黑,黑体,宋体; }
.banner_prev, .banner_next { display: block; position: absolute; z-index: 10; width: 65px; height: 65px;  top: 265px;}
.banner_prev {background: url(../images/banner_prev.png) no-repeat;}
.banner_next {background: url(../images/banner_next.png) no-repeat;}

 src="/images/bg.png  

.propaganda:after {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 960px;
	background: url(../images/present-line.jpg) no-repeat left center;
}
.present{ width:100%; margin:0 auto; display:block;}
.present li {margin: 0 auto;position: relative;width: 960px;}
.present li:after {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 960px;
	background: url(../images/present-line.jpg) no-repeat left center;
}
.present li .presenttext{ width:420px; display:block;position:absolute; }
.present li h2{ font-size:24px; font-weight:normal; color:#636B89;margin-bottom: 6px;}
.present li p{ font-size:15px; color:#636B89; line-height:24px}
.present001{background: url(../images/present001.jpg) no-repeat left center;height: 373px;  }
.present001 .presenttext{ left:510px; top:130px;}
.present002{background: url(../images/present002.jpg) no-repeat right bottom; height: 320px; }
.present002 .presenttext{  left:35px; top:80px; }
.present003{background: url(../images/present003.jpg) no-repeat left bottom; height: 330px; }
.present003 .presenttext{  left:510px; top:120px;}
.present004{background: url(../images/present004.jpg) no-repeat right bottom;height: 350px;  }
.present004 .presenttext{  left:35px; top:120px; }
.present005{background: url(../images/present005.jpg) no-repeat left center;height: 390px;  }
.present005 .presenttext{  left:510px; top:120px;}
.present006{background: url(../images/present006.jpg) no-repeat right bottom;height: 300px;  }
.present006 .presenttext{  left:35px; top:90px; }
.present007{background: url(../images/present007.jpg) no-repeat left center;height: 373px;  }
.present007 .presenttext{  left:510px; top:130px;}
.present008{ height: 150px;}
.present li.present008 .presenttext{ left:0; top:45px; text-align:center; width:960px}
.present li.present008:after {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 960px;
	background: none;
}



.weixinapps{display: block;
    padding: 40px 0;
	border-top: 1px solid #C7C7CD;
	margin:0 auto; width:960px;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.weixinapps .weixinapps-inner {
    margin: 0 auto;
    padding: 0 25px;
    width: 940px;
}
.weixinapps .app-box {
	margin: 0 auto;
    width: 920px;
}
.weixinapps h2 {
	font-size:16px; font-weight:normal; color:#636B89;
}
.weixinapps .app-item {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #FFFFFF #E4E4E4 #E4E4E4;
    border-image: none;
    border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
    border-right: 1px solid #E4E4E4;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin:10px 10px 0 0;
    text-align: center;
	display: block;
    height: 66px;
    overflow: hidden;
    padding: 17px 5px;
    text-decoration: none;
    transition: background 0.2s linear 0s;
    width: 90px;
	color: #666666;
}

.weixinapps .app-item:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #3C7800;
}
.weixinapps .app-item:hover a{
    color: #3C7800;
}
.weixinapps .app-item img {
    border: medium none;
	width:48px; height:48px;
	border-radius: 30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
}
.weixinapps .app-item span {
    display: block;
    height: 16px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.weixinapps .app-item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.05);
}
.weixinapps .left-box {
    float: right;
}
.weixinapps .more {
    float: right;
    margin: 10px 12px 0 0;
}
.more {
    color: #3C7800;
    display: inline-block;
}
.more:hover {
    color: #3C7800;
}
.more .more-arrow {
	 background: url("../images/more.gif") no-repeat scroll 0 center transparent;
    display: inline-block;
    height: 16px;
    line-height: 13px;
    margin: -3px 0 0 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}