.wz_19_wrapper {
	font-family:"微软雅黑";
	width: 100%;
	margin: auto;
    margin-top:60px;

}
.wz_19_buttom{
	
	cursor:pointer;
	line-height:43px;
	width:100%;
	text-align:center;
	height:100%;
	font-weight:600;
	font-size:16px;
	background:none;
	border:none;
	color:#fff;
	font-family:"微软雅黑";
	text-shadow:0px 0px 2px #000;}

.wz_19_buttom:hover{
	background-color:#000;}
.wz_19_buttom:active{
	background-color:#000;}
	
.wz_19_content{
	margin-left:-20px;
}
.wz_19_content ul{
	margin:auto;
}
.wz_19_content ul li{
	cursor:pointer;
	text-shadow:0px 0px 2px #000;
	font-weight:600;
	color:#fff;
	margin:10px 5px 0px 0px;

	float:left;
	text-align:center;
	overflow:hidden;
	border-radius:4px;
	background-image:url(back.png);
	width:130px;}
.wz_19_footer{
	position:absolute;
	width:300px;
	margin:auto;	
	bottom:0;
	font-size:12px;
	margin-top:50px;
	text-align:center;
	line-height:60px;
	color:#fff;
	}

.copyright{padding:8px 0;text-align:center;font-size:14px;color:#666; position:fixed; bottom:0; width:100%; z-index:3}
.copyright a{color:#666;}
/*iscroll*/

.banner {
	width:100%;
	margin:0 auto;
	padding:0;
	background-color:#151515;
}
#wrapper {
	margin:0;
	width:100%;
	height:auto;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	
}

#scroller {
	height:auto;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	
	display:block; float:left;
	width:auto; height:auto;
	text-align:center;
	font-size:0px;
	padding:0;
	position:relative;
}
#scroller li a{
	
	display:block;
	padding:0;
	margin:0;
}
#scroller li p{
	position:absolute;
	z-index:2;
	display:block;
	width:100%;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	color:#F4F4F4;
	font-size:14px;
	text-indent: 55px;
	line-height:24px;
	text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:0;
	margin:0;
}
#nav {
	float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	display: none;
}

#next {
	float:right;
	text-align:right;
}

#indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#888;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#DDDDDD;
}

#indicator > li:last-child {
	margin:0;
}

