.top_bar{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    z-index:100;
}
.top_bar+*{
    padding-top:35px;
}
.top_menu{
    display:-webkit-box;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));
}

.top_bar .top_menu>li{
    -webkit-box-flex:1;
    height:35px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.1)),color-stop(50%,rgba(255,255,255,0.8)), to(rgba(255,255,255,0.1)));
    -webkit-background-size:1px 80%;
    background-size:1px 80%;
    background-position: right center;
    background-repeat: no-repeat;
    position:relative;
    text-align:center;
}
.top_menu>li:last-of-type{background:none;}
.top_menu>li>span{
    display:inline-block;
    height:100%;
    width:25px;
    margin:auto;
    //background: url(../images/weimob-icons.png) no-repeat 0 5px;
}
.top_menu>li>span.i_back{
    background-position:0 5px;
}
.top_menu>li>span.i_home{
    background-position:-33px 5px;
}
.top_menu>li>span.i_tel{
    background-position:-65px 5px;
}
.top_menu>li>span.i_menu{
    background-position:-97px 5px;
}

.menu_font{
    text-align:left;
    position:absolute;
    top:35px;
    right:10px;
    z-index:500;
}


.footer_bar{
    top:inherit;
    bottom:0;
}
.top_bar.footer_bar~*:last-child{
    padding-top:0!important;
    padding-bottom:45px;
}
.top_bar.footer_bar .menu_font{
    top:inherit!important;
    bottom:40px;
}

.top_bar.footer_bar .menu_font:after{
    top:inherit!important;
    bottom:-6px;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width:6px 6px 0;
}

.top_bar.footer_bar+*{
    padding-top:0!important;
}