	body{ background: #efefef;}
	html, body{height:100%;}
	.weimob-page{
		max-width:640px;
		margin:auto;
		padidng:10px;
	}
	.weimob-content{
		margin:10px;
		padding:15px;
		min-height:100%:;
		background:#fff;
		border-radius:10px;
	}
	h3{margin-bottom:3px;}
	.pub_time{
		display:inline-block;
		font-size:12px;
		color:#ccc;
		margin-bottom:8px;
	}